body {
  background:  	#ADD8E6;
}

#contenedor, #tabs, #perfil, #newfeed, #msg, #tabs-1, #tabs-2, #fotocara {
  border: 2px solid #777;
}
#contenedor {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

#tabs {
  overflow: auto;
  background: #E6E6FA;
  min-height: 1000px;
}

#perfil {
  margin-top: 15px;
  margin-right: 10px;
  float:left;
  width: 25%;
  background: WhiteSmoke;
}

#fotofondo {
    border: 2px solid #777;
    margin: 5px;
    height: 300px;
    background: url(/images/backgroundperfil.jpeg) no-repeat;
}

#fotocara {
    width: 120px;
    height: 120px;
    position: relative;
    top: 200px;
    left: 150px;
}

#info {
    margin-top: 80px;
}

#newfeed {
    margin-right: 10px;
    background: LightCyan;
    margin-bottom: 0px;
    text-align: center;
    color: MediumTurquoise;
}

#timeline, #myline {
    margin-right: 10px;
    background: WhiteSmoke;
    margin-top: 0px;
    height: auto;
}

h3, h5 {
  margin: 0px;
}

#tabs-1, #tabs-2 {
  margin-top: 15px;
  float: left;
  width: 40%;
}

#pie_de_pagina {
  text-align: center;
}
